/* .add_list {
    background-color: rgba(238, 237, 237, 0.5);
    min-width: 350px;
    box-sizing: border-box;
    border-radius: 5px;
} */

.add_list-form {
    display: block;
    background-color: rgba(238, 237, 237);
    min-width: 350px;
    border-radius: 5px;
}

.add_list-input {
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(25, 122, 219);
    border-radius: 5px;
    font-size: 120%;
    width: 94%;
    box-sizing: border-box;
}

.add_list-btn {
    font-size: 120%;
    margin: 5px 10px 10px 10px;
    padding: 10px;
    border: none;
    background-color: #026AA7;
    color: white;
    border-radius: 5px;
}

.add_list-false {
    display: block;
    padding: 10px;
    font-size: 120%;
    background-color: rgba(238, 237, 237, 0.5);
    min-width: 350px;
    border-radius: 5px;
}

.add_list-false:hover {
    background-color: rgb(236, 225, 225);
    border-radius: 5px;
}

