.content {
    display: block;
    height: 830px;
    background-image: url('https://lh4.googleusercontent.com/-owibZZTbkas/WXHZIGU2wSI/AAAAAAAAEa0/hg07SQtgoB4gs7e8k44f4KWPrUIBWrsiQCLcBGAs/s1600/h%25C3%25ACnh-%25E1%25BA%25A3nh-m%25E1%25BA%25B7t-tr%25C4%2583ng-trong-%25C4%2591%25C3%25AAm-14.jpg');
    background-size: 100%;
}