.card {
    background-color: white;
    margin: 15px;
    border-radius: 5px;
    position: relative;
    user-select: none;
    
}

.card_title {
    display: flex;
    justify-content: space-between;
    font-size: 110%;
    padding: 10px;
    align-items: center;
    min-height: 40px;
    padding: 10px;
    word-wrap: break-word
}

.card_title-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 215px;
}

.card_btn{
    border: none;
    background-color: white;
    font-size: 100%;
    padding: 7px;
}

.card_btn:hover {
    background-color: rgba(238, 237, 237);
    border-radius: 5px;
}

.card_form-update {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
}

.card_input-update {
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    width: 220px;
    font-size: 110%;
    /* word-wrap: break-word; */
    box-sizing: border-box;
    /* overflow-wrap: break-word; */
}

.card_btn-save{ 
    padding: 10px;
    border: none;
    background-color: #026AA7;
    color: white;
    border-radius: 5px;
    height: 40px;
    align-items: center;
}

textarea {
    /* overflow: hidden; */
    overflow-wrap: break-word;
    resize: none;
    height: fit-content;
}