.content_body {
  display: flex;
  margin: 10px;
  overflow: auto;
  height: calc(100vh - 165px);
  user-select: none;
}

.render_list {
    display: flex;
}

#clone {
  width: 350px;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  height: fit-content;
  background-color: rgba(238, 237, 237);
}

#space {
  background-color: rgba(0, 0, 0, 0.5);
  width: 350px;
  pointer-events: none;
  user-select: none;
  border-radius: 5px;
  margin-right: 10px;
}

#placeholder {
  width: 300px;
  /* height: 40px; */
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  user-select: none;
  pointer-events: none;
}

#shadow {
  position: absolute;
  /* height: 40px; */
  width: 300px;
  z-index: 1000;
  pointer-events: none;
  font-size: 120%;
}
::-webkit-scrollbar {
    width: 14px;               /* Chiều rộng vùng chứa scrollbar */
  }
::-webkit-scrollbar-track {
    background: #091e4214;        /* Màu nền ngoài của thanh scrollbar */
  }
::-webkit-scrollbar-thumb {
    background-color: #ccc;    /* Màu của thanh cuộn (scroll thumb) */
    border-radius: 5px;       /* Bo góc scroll thumb */
    border: 2px solid #ccc;  /* Không hỗ trợ padding, margin, transition nên dùng viền cùng màu nên để padding scroll thumb */
  }

